
:root{
    --width: 100vw;
    --heigth: 80vh;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
main{
    display: block;
}
.dam-game{
    width: var(--width);
    height: var(--heigth);
}
.scene{
    width: var(--width);
    height: var(--heigth);
    display : none;
    visibility: hidden;
}
.active{
    visibility: visible;
    display: block;
}